<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<title>Physics Genome Project</title>
	<link rel="stylesheet" href="{%static 'css/chico-mesh.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{%static 'css/chico.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{%static 'css/tablesorter/style.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{%static 'css/screen.css' %}" type="text/css" media="screen" />

	<script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/chico.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/jquery.metadata.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/app.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/jExpand.js' %}"></script>

	<script>
	$(document).ready(function(){
		$("#expand").jExpand();
	});
	</script>


</head>
<body>

	<div class='container'>
		<div class='header ch-header ch-box'>
			<h1>
				<a href='/' title='Home'>the physics genome project</a>
			</h1>

			<div class='navigation'>
				<ul>
					<li><a href='/' title='Home'>Home</a></li>
                    <li>
                        {{user}}
                        {% if user.is_authenticated %}
                        you are logged in!
                        {% else %}
                        <h3>Login</h3>
                        <form action="/programs/login/" method="post" accept-charset="utf-8">
                                {% csrf_token %}
                            <label for="email">email</label><input type="text" name="email" value="" id="email" /><br />
                            <label for="password">Password</label><input type="password" name="password" value="" id="password" />
                            <p><input type="submit" value="Login"></p>
                        </form>
                        {% endif %}
                    </li>
					<!-- <li><a href='/sign-out' title='Sign Out'>Sign Out</a></li> -->
				</ul>
			</div>
			<div class='clearfix'></div>
		</div>
		<div class='ch-box'>
			<div class='ch-header'>
				{%block sub_title%}{%endblock %}
			</div>
			<div class='content'>
				{%block content%}{%endblock%}
			</div>
		</div>
	</div>
</body>
</html>