{% extends '_layout.html' %}
{%block content%}

<div class='dashboard'>

	<h2> The physics genome project was started at Eastern Michigan University  </h2>
	<h3> Please contact Dr. Dave Pawlowski with any questions in regards to the data or for data access.</h3>
	<h2><a class='ch-btn ch-btn-small' href='reports/universities' title='universities'>
		Universities</a></h2>
	<ul>
		<li>
			<!-- <div class='ch-g1-10'><a class='ch-btn ch-btn-small' href='reports/majors-by-department' title='majors by department'>Programs Report</a></div> -->
			<!-- <div class='ch-g1-10'><a class='ch-btn ch-btn-small' href='reports/colleges-by-department' title='colleges by department'>Colleges Report</a></div> -->
		</li>
	</ul>
	<div class='clearfix'></div>

	<ul>
		<li>
<!-- 			<div class='ch-g1-2'><h2><a href='courses/' title='All Courses'>
				All Courses</a></h2>
 	</div>
-->
		</li>
		<div class='clearfix'></div>
		<li>
<!-- 			<div class='ch-g1-2'><h2><a href='physics/' title='majors'>
				Physics majors</a></h2>
			</div>
-->
		</li>
			<div class='clearfix'></div>
	</ul>
	<div class='clearfix'></div>
</div>

{%endblock%}